body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    font-size: $cr-sma-font;
    color: $cr-gold;
    background-color: $cr-dark-blue;
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 1100px;
    height: 1920px;
}

img {
    margin: 10px;
}

a{
    text-decoration: none;
    color: $cr-light-blue;
}
