@import "./_vars.scss";
@import "./config";

.header {
    color: $cr-gold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: $cr-big-font;
    & img{
        width: 60px;
    }
}
