@import "./vars";
@import "./config";
@import "./header";
@import "./navbar";
@import "./shared_sections";

.crypto-description {
    color: $cr-gold;
    width: 875px;
    padding: 25px;
}

.crypto-following-content {
    margin-inline: 50px;
}

.par-right {
    justify-content: flex-end;
    padding: 10px;
    & h2, h3{
        text-align: center;
    }
}

.par-left {
    text-align: center;
    padding: 10px;
    justify-content: flex-start;
    & h2, h3{
        text-align: center;
    }
}
