@import "./vars";
@import "./config";

.navbar-item{
    height: 60px;
    border: solid 10px $cr-gold;
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    font-size: $cr-med-font;
    background-color: $cr-gold-dark;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &.current-page{
        font-weight: bolder;
        background: $cr-dark-blue;
    }
    transition: all .2s ease-in-out; 
    &:hover{
        transform: scale(1.1); 
    }
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content:center;
}
