@import "./vars";
@import "./config";

.crypto-row {
    margin-top: 10px;
    display: flex;
}

.crypto-logotype {
    justify-content: flex-end;
    text-align: center;
    color: $cr-gold;
    & h2, h3{
        text-align: center;
        text-transform: uppercase;
    }
    & img{
        width: 250px;
    }
}

.crypto-short-description {
    justify-content: flex-start;
    color: $cr-gold;
    text-align: right;
    padding: 75px;
    & h2, h3{
        text-transform: uppercase;
        text-align: left;
    }
}
