@import "./vars";
@import "./config";
@import "./header";
@import "./navbar";
@import "./shared_sections";

.long-description {
    padding: 20px;
    text-align: right;
}

.nav-for-future-dynamic-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 60px;
    width: 190px;
}

.header-long-title {
    text-align: center;
}
